
.center
  margin 0 auto !important

#forkme >img
  position absolute
  top 0
  right 0
  border 0

#start
  position relative
  top 1rem
  left 1rem

.beefs.table
  position relative
  width 90%
  top 3rem

